<h1>Auctions#show</h1>
<input type="hidden" id="auction_id" value=<%= @auction.id %>>



<table class="table">
  <tbody>
  <tr>
    <td>State:</td>
    <td><%= @auction.aasm_state %></td>
  </tr>

  <tr>
    <td>Title</td>
    <td><%= @auction.title %></td>
  </tr>
  <tr>
    <td>Detail</td>
    <td><%= @auction.detail %></td>
  </tr>
  <tr>
    <td>Ends on</td>
    <td><%= @auction.endon %></td>
  </tr>
  <tr>
    <td>Price:</td>
    <td><%= @auction.price %></td>
  </tr>


  </tbody>


</table>

<% if current_user && current_user.id==@auction.user.id %>
    <div>
      <%= link_to "Published", auction_publishings_path(@auction), method: :post %>
    </div>
<% end %>


<%= simple_form_for [@auction, @current_bidding] do |f| %>
<%#= simple_form_for auction_bidding_index_path(@auction) do |f|%>

    <%= f.input :price %>

    <%= f.button :submit %>

<% end %>


<div class="well">
  <p>It is a Ajax form to bid.</p>
  <form action="#" method="post">
    <input type="text" name="" id="ajax-submit-price">
    <input type="submit" value="submit" id="ajax-form-submit">

  </form>
</div>

<table class="table">
  <thead>
  <tr>
    <td></td>
    <td>Price</td>
    <td>Time</td>
    <td>User Name</td>
  </tr>
  </thead>

  <tbody id="bidding-table">

  <% @biddings.each do |bidding| %>
      <tr>
        <td>Bidding:</td>
        <td><%= bidding.price %></td>
        <td><%= bidding.created_at %></td>
        <td> <%= link_to bidding.user.name, user_show_user_biddings_index_path(bidding.user) %></td>
      </tr>
  <% end %>


  </tbody>


</table>


<script type="text/javascript" charset="utf-8">

    var DOMAIN = 'http://localhost:3000'

    var id = $('#auction_id').val();

    $('#ajax-form-submit').on('click', function (event) {
        event.preventDefault();
        price = $('#ajax-submit-price').val();
        $.post({
                url: DOMAIN + '/auctions/' + id + '/biddings.json',
                data: {
                    bidding: {price: price}

                },
                dataType: 'json',
                success: function (data) {
                    console.log(data)

                    $('#bidding-table').hide().prepend('<tr><td>Bidding:</td><td>' + data.price + '</td><td>' + data.created_at + '</td> <td>' + data.user_id + '</td></tr>').fadeIn(1000);


                },
                error: function (data) {
                    console.log(data)


                }
            }
        );

    });


</script>